<a href="https://colab.research.google.com/github/ashu12355/Python/blob/main/Dictionary_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Introduction to Dictionary***

---

Dictionary allows user to write the data in the form of keys and values.
Dictionaries are enclosed inside curly brackets {}.
Keys and Values are separated by colon
Every key value pair is separated by a coma(,).

In [ ]:
employee_data = {
    "name":"Ashu",
    "age":12,
    "gender":"male"
}

In [ ]:
print(employee_data)

{'name': 'Ashu', 'age': 12, 'gender': 'male'}

In [ ]:
print(employee_data["name"])

Ashu

***Iteration in Dictionary***

---

In [ ]:
for i in employee_data:
  print(i)

name
age
gender

In [ ]:
for i in employee_data:
  print(employee_data[i])

Ashu
12
male

In [ ]:
#using value Function
for i in employee_data.values():
  print(i)

Ashu
12
male

In [ ]:
#using items Function
for x,y in employee_data.items():
  print(x,"-",y)

name - Ashu
age - 12
gender - male

***Dictionary Functions***

---

In [ ]:
#get
#item
#keys
#values
#copy

In [ ]:
employee_data = {
    "name":"Ashu",
    "age":12,
    "gender":"male",
    "doj":"22/01/2019"

}

In [ ]:
print(employee_data.get("doj"))

22/01/2019

In [ ]:
x = employee_data.items()
print(x)

dict_items([('name', 'Ashu'), ('age', 12), ('gender', 'male'), ('doj', '22/01/2019')])

In [ ]:
x = employee_data.keys()
print(x)

dict_keys(['name', 'age', 'gender', 'doj'])

In [ ]:
x = employee_data.values()
print(x)

dict_values(['Ashu', 12, 'male', '22/01/2019'])

In [ ]:
d = employee_data.copy()
print(d)

{'name': 'Ashu', 'age': 12, 'gender': 'male', 'doj': '22/01/2019'}

In [ ]:
#setdefault - The setdefault() method returns the value of the key if it's in the dictionary. If the key is not found, it inserts the key with the specified default value and returns that value. If no default value is given, it defaults to None.
#update - The update() method adds key-value pairs from another dictionary (or an iterable of key-value pairs) into the current dictionary. If a key already exists, its value is overwritten.
#pop - The pop() method removes the specified key and returns its value. If the key is not found, it raises a KeyError unless a default value is provided as the second argument.
#popitem - The popitem() method removes and returns the last inserted key-value pair from the dictionary as a tuple ((key, value)). It raises a KeyError if the dictionary is empty.
#clear - The clear() method removes all items from the dictionary, making it empty.

In [ ]:
employee_data = {
    "name":"Ashu",
    "age":12,
    "gender":"male",
    "doj":"22/01/2019"

}

In [ ]:
employee_data.setdefault("age", 18) #unchanged
employee_data.setdefault("salary", 50000) #added
print(employee_data)

{'name': 'Ashu', 'age': 12, 'gender': 'male', 'doj': '22/01/2019', 'salary': 50000}

In [ ]:
employee_data.update({"age": 18, "city": "Delhi"}) #age is updated to 18, and city is added.
print(employee_data)

{'name': 'Ashu', 'age': 18, 'gender': 'male', 'doj': '22/01/2019', 'salary': 50000, 'city': 'Delhi'}

In [ ]:
employee_data.pop("doj")
print(employee_data)

{'name': 'Ashu', 'age': 18, 'gender': 'male', 'salary': 50000, 'city': 'Delhi'}

In [ ]:
employee_data.popitem() #The pair is removed and returned as a tuple.

('salary', 50000)

In [ ]:
employee_data.clear()
print(employee_data)

{}

***Nested Dictonaries***

---

In [ ]:
employee = {
    1 : {
    "name":"Ashu",
    "age":12,
    "gender":"male",
    "doj":"22/01/2019"
    },
    2 : {
    "name":"Rahul",
    "age":25,
    "gender":"male",
    "doj":"32/06/2000"
    }
}

In [ ]:
print(employee)

{1: {'name': 'Ashu', 'age': 12, 'gender': 'male', 'doj': '22/01/2019'}, 2: {'name': 'Rahul', 'age': 25, 'gender': 'male', 'doj': '32/06/2000'}}

In [ ]:
print(employee[1]["age"])
print(employee[2]["gender"])

12
male

***Problem Solving***

---

In [ ]:
# 1. Write a python program to sort a dictionary by value.
# 2. Write a python script to print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys.
# 3. Write a program to multiply all the items in a dictionary.
# 4. Write a python program to sort a dictionary by key.

In [ ]:
a = {
    "a":12,
    "b":23,
    "c":6,
    "d":54,
    "e":34
}

In [ ]:
a = sorted(a.values())
print(a)

[6, 12, 23, 34, 54]

In [ ]:
a = {}
for i in range(1,16):
  a[i] = i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
s = {"a":1,"b":2,"c:":3,"d":4,"e":5}
mul = 1
for i in s:
  mul = mul *s[i]
print(mul)

120

In [ ]:
a = {12:"a",15:"b",3:"c",8:"d"}
a = sorted(a.keys())
print(a)

[3, 8, 12, 15]

In [ ]:
# 1. Convert the following dictionary into JSON format.
# 2. Access the value of age from the given data.
# 3. Pretty Print following JSON data.
# 4. Sort the following JSON keys and write them into a file.

In [ ]:
Student_data = {"name": "David", "age":13, "marks":87}

In [ ]:
import json
print(type(Student_data))

data = json.dumps(Student_data)
print(type(data),data)

<class 'dict'>
<class 'str'> {"name": "David", "age": 13, "marks": 87}

In [ ]:
Student_data = """{"name": "David", "age":13, "marks":87}"""

In [ ]:
data = json.loads(Student_data)
print(data["age"])

13

In [ ]:
Student_data = {"name": "David", "age":13, "marks":87}
data = json.dumps(Student_data,indent=4,separators=(",","="))
print(data)

{
    "name"="David",
    "age"=13,
    "marks"=87
}