<a href="https://colab.research.google.com/github/ashu12355/Python/blob/main/Lists_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Lists***

---

**Lists** are the collection of ordered and mutable data.
Lists are written inside the squared brackets.
The value inside a list is separated by coma(,).
Mutable means once created, they can be changed
Multiple datatypes can be written inside a list.

In [ ]:
fruits = ["Apple","Mango","Litch",45,567.00]
print(type(fruits))
print(fruits)

<class 'list'>
['Apple', 'Mango', 'Litch', 45, 567.0]

***SLICING*** ***LIST***

---

In [ ]:
a = ["Ironman", "Thor", "Captain America", "Hulk"]
print(a[0:2])
print(a[:2])
print(a[1:])
print(a[::-1]) #reverse
print(a[:-4:-1]) #reverse in range

['Ironman', 'Thor']
['Ironman', 'Thor']
['Thor', 'Captain America', 'Hulk']
['Hulk', 'Captain America', 'Thor', 'Ironman']
['Hulk', 'Captain America', 'Thor']

***List Iteration***

---

In [ ]:
#Iteration Using For Loop
#Iteration Using For Loop with Range and Length function
#Iteration Using While Loop
#Using Short-Hand For Loop

In [ ]:
a = ["Ironman", "Thor", "Captain America", "Hulk"]
for i in a:
  print(i,end =" ")

Ironman Thor Captain America Hulk

In [ ]:
for i in range(len(a)):
  print(a[i],end = " ")

Ironman Thor Captain America Hulk

In [ ]:
i = 0
s = len(a)
while i < s:
  print(a[i],end = " ")
  i+=1

NameError: name 'a' is not defined

In [ ]:
[print (i) for i in a]

Ironman
Thor
Captain America
Hulk

[None, None, None, None]

***List Functions Part - 1***

---

In [ ]:
# to find the length of a list
# to count an occurence of a particular element
# to add to the list
# to add to a specific location
# to remove from a list
# to remove from a certain location

In [ ]:
a = ["Ironman", "Thor", "Captain America", "Hulk", "Hulk", "Hulk", "Hulk"]
print(len(a))

print(a.count("Hulk"))

7
4

In [ ]:
a = ["Ironman", "Thor", "Captain America", "Hulk"]
a.append("Ashutosh")
print(a[::-1])

['Ashutosh', 'Hulk', 'Captain America', 'Thor', 'Ironman']

In [ ]:
a = ["Ironman", "Thor", "Captain America", "Hulk"]
a.insert(4,"Ashutosh")
print(a)

['Ironman', 'Thor', 'Captain America', 'Hulk', 'Ashutosh']

In [ ]:
a.remove("Ashutosh")
print(a)

['Ironman', 'Thor', 'Captain America', 'Hulk']

In [ ]:
print(a.pop(1))
print(a)

Thor
['Ironman', 'Captain America', 'Hulk']

***List Functions Part - 2***

---

In [ ]:
#to create a copy of a list
#to access an element
#to entend the list
#to reverse the list
#to sort the list
#to clear allthe data from the list

In [ ]:
a = ["Ironman", "Thor", "Captain America", "Hulk"]
print(a)
b = []
b = a.copy()
print(b)

['Ironman', 'Thor', 'Captain America', 'Hulk']
['Ironman', 'Thor', 'Captain America', 'Hulk']

In [ ]:
print(a.index("Thor"))

1

In [ ]:
c = ["new","Data"]
a.extend(c)
print(a)

['Captain America', 'Hulk', 'Ironman', 'Thor', 'data', 'new', 'new', 'Data']

In [ ]:
a.reverse()
print(a)

['Data', 'new', 'new', 'data', 'Thor', 'Ironman', 'Hulk', 'Captain America']

In [ ]:
a.sort()
print(a)

['Captain America', 'Data', 'Hulk', 'Ironman', 'Thor', 'data', 'new', 'new']

In [ ]:
d = [1,3,9,3,0,4]
d.sort()
print(d)

[0, 1, 3, 3, 4, 9]

In [ ]:
d.clear()
print(d)

[]

***List Comprehension***

---

In [ ]:
l1 = [30 ,40,50,60]
l2 = []
for i in l1:
  if i > 30:
    l2.append(i)
print(l2)
print(l1)

[40, 50, 60]
[30, 40, 50, 60]

In [ ]:
l3 = [i for i in l1] #List Comprehension
print(l3)

[30, 40, 50, 60]

In [ ]:
l3 = [i for i in l1 if i > 30] #List Comprehension
print(l3)

[40, 50, 60]

***Problem Solving***

---

In [ ]:
A= ["Ross", "Rachel", "Monica", "Joe"]
# 1. Write a program to swap first and forth element.
# 2. Write a program to add a new value at second position.
# 3. Write a program to delete a value from 3rd position.
B = [13, 7, 12, 10]
# 1. Write a program to multiply all the numbers in the list.
# 2. Write a program to get the largest number from the list.
# 3. Write a program to get the smallest number from the I TEL

In [ ]:
A[0],A[3] = A[3],A[0]
print(A)

['Joe', 'Rachel', 'Monica', 'Ross']

In [ ]:
A.insert(1,"Ashu")
print(A)

['Joe', 'Ashu', 'Rachel', 'Monica', 'Ross']

In [ ]:
A.pop(2)
print(A)

['Joe', 'Ashu', 'Ross']

In [ ]:
A = [13, 7, 12, 10]
mul = 1
for i in A:
  mul *= i
print(mul)

10920

In [ ]:
A.sort()
print(A[len(A)-1])

13

In [ ]:
A.sort()
print(A[0])

7